@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set Candal font for all headings */
  h1, h2, h4, h5, h6 {
    font-family: 'Candal', sans-serif;
  }
  
  /* Set Poppins font for all other text elements */
  body, p, span, a, button, input, textarea, select, li, label {
    font-family: 'Poppins', sans-serif;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
